[Desktop Entry]
Name=Dreamcast
Comment=Redream, Emulator
Exec=./dreamcast.sh
Icon=/home/$USER/Pictures/icons/redream.png
Terminal=false
Type=Application
Categories=Game;
