[Desktop Entry]
Name=PlayStation
Comment=Duckstation, Emulator
Exec=./duckstation-qt-x64.AppImage
Icon=/home/$USER/Pictures/icons/duckstation.png
Terminal=false
Type=Application
Categories=Game;
