[Desktop Entry]
Encoding=UTF-8
Name=Super Nintendo
Comment=Emulador de Super Nintendo
Type=Application
Exec=/home/$USER/Super_Nintendo.sh
Icon=/mnt/4_TB/Super Nintendo/bsnes.png


